footer {
  background-color: black;
  color: white;
  width: 100%;
}

.container {
  font-size: 18px;
  text-align: justify;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 58%;
  margin: auto;
  justify-content: space-around;
  padding-top: 4vh;
  padding-bottom: 4vh;
}

.vishnevskaya {
  display: flex;
  flex-direction: column;
  text-align: left;
  text-align-last: left;
}

.site-express {
  display: flex;
  flex-direction: column;
  text-align: right;
  text-align-last: right;
}

@media only screen and (max-width: 1300px)  {
  .container {
    width: 100%;
    padding: 0;
    justify-content: space-around;
  }
  .vishnevskaya,
  .site-express {
    text-align: center;
    text-align-last: center;
  }
}
