.dir-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 30px;
}

img {
  margin: auto;
  display: block;
  height: 60px;
  width: auto;
}

span {
  display: block;
}

@media only screen and (max-width: 600px) {
  .dir-list {
    flex-direction: column;
  }
}
