<h2>My Directions</h2>
<div class="dir-list">
  <div class="dir">
    <img src="../../assets/fitness/icons/005-gym-min.png" alt="gym">
    <span>Gym</span>
  </div>
  <div class="dir">
    <img src="../../assets/fitness/icons/004-exercise-min.png" alt="gym">
    <span>CrossFit</span>
  </div>
  <div class="dir">
    <img src="../../assets/fitness/icons/002-technology-min.png" alt="gym">
    <span>Func. training</span>
  </div>
  <div class="dir">
    <img src="../../assets/fitness/icons/003-gym-1-min.png" alt="gym">
    <span>Stretching</span>
  </div>
  <div class="dir">
    <img src="../../assets/fitness/icons/001-apple-min.png" alt="gym">
    <span>Nutrition</span>
  </div>
</div>


