<p>
  Welcome to my homepage! I am a professional fitness instructor. My job is to help ordinary people to get a good
  physical shape, to become more beautiful and improve their health. If you need my services, I will be happy to help
  you!
</p>
<img [lazyLoad]="'../../assets/fitness/active-arm-beautiful-866350-min.jpg'" alt="about_photo">
<p>Certified trainer for fitness and bodybuilding, TRX, functional training, physiotherapy exercises and stretching.
  Experience in fitness more than 8 years. Higher pedagogical education. Fitness model.</p>

