@import "../../assets/pristina/style.css";

.container {
  background: no-repeat;
  background-size: cover;
  width: auto;
  height: 95vh;
}

.header {
  background-color: rgba(255, 255, 255, 0.50);
  display: block;
  position: relative;
  width: fit-content;
  padding: 2%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  font-family: 'Pristina', 'Roboto', sans-serif;
  font-size: 48px;
  padding: 0;
}

@media only screen and (max-width: 500px) {
  .container {
    width: 100vw;
  }
}

