h2 {
  padding-top: 50px;
}

.info {
  display: flex;
  position: relative;
  flex-direction: row;
  text-align-last: left;
}

.kinds {
  display: flex;
  flex-direction: column;
}

:host {
  padding-top: 50px;
  padding-bottom: 50px;
}
