.container {
  font-size: 24px;
  text-align: justify;
  text-align-last: center;
  display: block;
  position: relative;
  width: fit-content;
  padding: 30px 30%;
}

@media only screen and (max-width: 1550px) {
  .container {
    padding-right: 10%;
    padding-left: 10%;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }
}
